body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

body.dark-mode {
  background-color: #333;
  color: #fff;
}

button {
  margin: 10px;
  padding: 10px;
}

#response {
  margin-top: 1cm; /* Adjust the margin to move the response bar closer to the "Choose File" button */
  padding: 10px;
  border: 1px solid #ccc;
  width: 100%;
  max-width: 600px;
  white-space: pre-wrap;
  margin-bottom: 2cm; /* Increase the gap below the response element */
}

#chatForm {
    margin-top: 2cm; /* Increase the gap above the chatForm element */
}

#toggleDarkMode {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 12px;
    border-radius: 5px; /* Make corners round */
    font-weight: bold; /* Make font bold */
}

@media only screen and (max-width: 600px) {
    body {
        padding: 10px;
    }

    #response {
        margin-top: 50px;
        margin-bottom: 1cm;
    }

    #chatForm {
        margin-top: 0.5cm;
    }

    #toggleDarkMode {
        top: 5px;
        left: 5px;
        font-size: 10px;
    }
}
